@keyframes leftToRight {
  0%   {margin-left: -100%;}
  80%   {margin-left: 80px;}
  100%  {margin-left: 0;}
}

@keyframes blur {
  0%   {
    filter: blur(10px);
    opacity: 0;
    top: -50px;
  }
  100%  {
    filter: blur(0px);
    opacity: 1;
    top: 0;
  }
}

h1 img{
  width: 150px;
  padding: 15px;
  position: relative;
  animation: blur 1s ease-in-out 1;
}

h1 {
  background: linear-gradient(164deg, rgba(0,8,36,1) 0%, rgba(255,0,0,1) 100%);
  text-align: center;
  margin-top: 0;
}

section article .volanta {
  transition: all 0.2s ease-in-out;
}
section article:hover .volanta {
  top: 10px;
}

.titulo {
  background: linear-gradient(164deg, rgba(0,8,36,1) 0%, rgba(255,0,129,1) 100%);background: linear-gradient(164deg, rgba(0,8,36,1) 0%, rgba(255,0,0,1) 100%);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 2px;
  font-weight: 100; 
  margin-top: 20px;
}

.titulo:hover h2 {
  animation: leftToRight 1s ease-in-out 1;
}

.titulo2 {
  background: linear-gradient(164deg, rgba(0,8,36,1) 0%, rgba(255,0,129,1) 100%);
  padding: 10px;
  color: white;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 20px 0 20px 0;
}

.titulo2:hover h3 {
  animation: leftToRight 1s ease-in-out 1;
}