header {
  background-color: #f5f5f5;
  padding: 20px;
}
header .container {
  align-items: center;
}

/* Abstraer col-right */
header .container .col-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
header .user-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .user-container .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a {
  text-align: center;
  display: block;
}
.btn-suscribite {
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.user-name {
  color: black;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.nav-menu {
  background-color: #f44336;
  color: white;
  padding: 20px;
  width: 200px;
  top: 90px;
  position: absolute;
  left: 0;
  z-index: 10;
}
.nav-menu ul {
  padding: 0;
  margin: 0;
}
.nav-menu ul li {
  margin-bottom: 20px;
  list-style: none;
}
.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 10px 20px;
}
.nav-menu ul li a:hover {
  background-color: pink;
  margin: 10px 20px;
}
